.portfolio {
  padding-top: 64px !important;

  &__list-item {
    width: 100%;
    overflow: hidden;
    margin-bottom: 32px;
  }

  &__list-item-image,
  &__list-item-video {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 12px;
  }

}