@import 'styles/configs/variables.scss';

.about {

  &__person {
    margin-bottom: 32px;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 32px;
  }

  &__article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }

  &__infos-text {
    margin-bottom: 32px;
  }

  &__info {
    margin-bottom: 32px;
  }

  &__events-item {
    display: grid;
    grid-template-columns: 150px auto;
    margin-bottom: 8px;
  }

  &__link {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  @media (max-width: 1000px) {

    &__article {
      grid-template-columns: 1fr;
    }

  }

}