@import 'styles/configs/variables.scss';

.team {

  &__team-member {

  }

  &__team-member-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: var(--spacing-medium-responsive);
  }


  &__team-member-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing-medium-responsive);
  }

   &__team-member-article-infos-item {
    margin-bottom: 24px;
  }

  @media(max-width: 1000px) {

    &__team-member-article {
      grid-template-columns: 1fr;
    }

  }

}