@import 'styles/configs/variables.scss';

.small-arrow-link {
	display: inline-block;

	&__arrow {
		display: inline-block;
		fill: #151515;
		transition: 0.3s ease;
		height: 16px;
		vertical-align: baseline;
		position: relative;
		top: 2px;
		margin-right: 4px;
	}

	&__text {
		transition: 0.3s ease;
		margin-left: 3px;
		border-bottom: 2px solid $black-100;
	}

	&:hover {

		& .small-arrow-link__text,
		& .small-arrow-link__arrow {
			color: #5101BE;
			fill: #5101BE;
			border-color: #5101BE !important;
		}

	}

}
