.showcase {

  &__list-item {
    width: 100%;
    overflow: hidden;
    margin-bottom: 32px;
  }

  &__list-item-image,
  &__list-item-video {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 48px;
  }

  &__link {
    margin-bottom: 32px;
  }

}