.rich-text {
  display: inline;
  white-space: normal;

  &__block {
    display: inline;
  }

  &__item {
    display: inline;
  }

  &__text {
    display: inline;
  }

  &__link {
    display: inline;
    text-decoration: none;
    color: inherit;
  }

}
