@import 'styles/configs/variables.scss';

.rich-text {
  display: inline;
  white-space: normal;

  &__block {
    display: inline;
  }

  &__item {
    display: inline;
  }

  &__text {
    display: inline;
  }

  &__link {
    display: inline;
    text-decoration: underline;
    text-underline-offset: 4px;
    underline-color: $black-100;
    color: inherit;
    transition: all 0.3s ease;

    &:hover {

      & .text {
        color: $purple-100;
      }

    }

  }

}
