 @import '../../../styles/configs/variables';

.cards {

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: var(--spacing-medium-responsive);
    width: 100%;
    margin-bottom: var(--spacing-medium-responsive);
  }

  &__card {
    background-color: $white-100;
    padding: var(--spacing-large) var(--spacing-medium-responsive);

  }

  &__card-title {
    text-align: center;
    margin-bottom: var(--spacing-medium-responsive);
  }

  &__card-value {
    text-align: center;
  }

  @media (max-width: 700px) {

    &__container {
      grid-template-columns: (1fr);
    }

  }

}
