@import 'styles/configs/variables.scss';

.responsibility {

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
  }

  &__card {
    background-color: $white-100;
    padding: 32px;
  }

  &__card-title {
    text-align: center;
    margin-bottom: 24px;
  }

  &__card-text {
    text-align: center;
  }

  &__card-list {
    text-align: center;
  }

  @media (max-width: 1000px) {

    &__cards {
      grid-template-columns: auto;
    }

  }

  @media (max-width: 700px) {

    &__cards {
      grid-gap: 16px;
    }

  }

}