.intro {
  margin-bottom: 48px;

  &__headings {
    margin-bottom: var(--spacing-small-responsive);
  }

  &__heading {
    margin-bottom: var(--spacing-small-responsive);

    &:last-child {
      margin-bottom: 0;
    }

  }

}
