.hero {
  padding: 0px !important;

  &__image {
    max-height: calc(100vh - 184px);
    object-fit: cover;
  }

  &__container {
    padding: 0 32px;
  }

  &__heading {
    margin-top: 32px;
  }

  &__subheading {
    margin-bottom: 24px;
    max-width: 1080px;
  }

  &__link {
    margin-bottom: 40px;
  }

}
