*::selection {
	background-color: $purple-80;
	color: #ffffff;
	opacity: 0.99;
}

* {
    box-sizing: border-box;
    outline: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
}

body {
	background-color: $white-80;
}

