.article {

  &__container {
    display: grid;
    grid-column-gap: var(--spacing-medium-responsive);
    grid-template-areas:
				"heading text"
				"heading details";
    grid-template-columns: 480px auto;
    grid-template-rows: auto auto auto auto;
  }

  &__heading {
    grid-area: heading;
  }

  &__detail-block {
    margin-bottom: 32px;
  }

  &__text {
    grid-area: text;
    margin-bottom: 32px;

    & > p {
      margin-bottom: 16px;
    }

  }

  &__details, .details {
    grid-area: details;
    margin-bottom: 32px;

    &__item, .item {
      margin-bottom: 16px;

      &__detail, .detail {

        &__text {

          & > p > a {
            text-decoration: underline !important;
          }

        }

      }

    }

  }

  @media (max-width: 900px) {

    &__container {
    grid-template-areas:
          "heading"
          "text"
          "details";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    }

    &__heading {
      margin-bottom: 24px
    }

  }

}
